.auth  {
    width: 44.4rem;
    height: 60rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    
}
.auth__form{
    min-height: 46rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
   
}
.auth__form-logo-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth__form-logo-h2{
margin: 1.8rem 0;
font-size: 2.4rem;
font-weight: 600;
}
.auth__form-wrapper{
    margin: 0  2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth__form-input-wrapper{
    position: relative;
width: 100%;
}
.auth__form-input{
    outline: none;
    width: 100%;
    height: 5.1rem;
    margin: 1.6rem 0;
    padding: 1.4rem;
    border-radius: 4px;
    border: 1px solid rgba(130, 143, 163, 0.8);
    background-color: transparent ;
}

.auth__form-input--error{
    border: 2px solid red !important;
}

.auth__form-input:hover{
    
    border: 1px solid black;
      
}
.auth__form-input--hover{
    
    border: 1px solid black;
      
}
.auth__form-input:focus{
   
    border: 2px solid #635FC7;  
}

.auth__form-input:autofill{
    border: 2px solid #635FC7;  
}
.auth__form-input:autofill+.auth__form-input-span{
   
    top: 0;
    left: 1rem;
    transform: translate(0, 50%);
    font-size: 1.2rem;
    color: #635FC7;
}

.auth__form-input-span{
position: absolute;
background-color: white;
color:#828FA3;
padding: 0 0.2rem;
top: 50%;
left: 1rem;
transform: translate(0, -50%);
font-size: 1.8rem;
transition: 0.2s;

}


.auth__form-input:focus+.auth__form-input-span{
    top: 0;
    left: 1rem;
    transform: translate(0, 50%);
    font-size: 1.2rem;
    color: #635FC7;  
}

.auth__form-input:active+.auth__form-input-span{
    top: 0;
    left: 1rem;
    transform: translate(0, 50%);
    font-size: 1.2rem;
    color: #635FC7;  
    
}

.auth__form-input-span--content{
    top: 0;
    left: 1rem;
    transform: translate(0, 50%);
    font-size: 1.2rem;
    color: #635FC7;  
}
.auth__form-input-wrapper>.auth__form-input--content{
    border: 2px solid #635FC7;  
}
  
.auth__message{
    width: 100%;
    height: 2rem;
    margin-bottom: 0.8rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    color: red;
    font-weight: 700;
}
.auth__form-input-checkbox{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
    accent-color: #635FC7 ;
}
.auth__form-input-checkbox-label{
    display: flex;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 1rem;
}
.auth__form-input-checkbox-span{
    font-size: 1rem;
    
}
.auth__form-submit{
    width: 100%;
    height: 4rem;
    margin: 1rem 0;
    border-radius: 8px;
    color: white;
    background-color: #635FC7;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.auth__form-submit:hover{
    background-color: #A8A4FF;

}
.auth__form-submit--disabled{
    background-color: #A8A4FF; 
}
.auth__form-p{
font-weight: 600;
}

.auth__form-buttons-wrapper{

    margin-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.auth__form-link{   
    width: fit-content; 
    font-size: 1.4rem;
}
.auth__form-link-p{
    display: inline;
    color: #1976D2;
    text-decoration: underline ;
    text-decoration-color:rgba(25,118,210,0.4);
}
.auth__form-link--signup{
text-align: right;
}
.auth__form-link:hover>p{
    text-decoration-color:rgba(25,118,210,0.9);
}

.copiright{
    width: 100%;
    margin-top: 4.8rem;
    text-align: center;
    color: black;
    opacity: 0.8;
}
.copiright__link{
display: inline;
text-decoration: underline;
}