.start{
    max-width: 360px;
    width: 360px;
    height: 400px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.start button {
    background: white;
    width: 240px;
    height: 40px;
    border: 2px solid black;
    padding: 6px 12px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    margin: 15px;
}