

.delete{
    width: 48rem;
    min-height: 23rem;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete__text-wrapper {
    width: 85%;
    margin: 3.2rem 0;
    display: flex;
    flex-direction: column;
}
.delete__title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: normal;
    margin-bottom: 2.4rem;
}
.delete__text{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #828FA3;
}
.delete__buttons-wrapper{
width: 85%;
margin-bottom: 4rem;
display: flex;
justify-content: space-between;
    
}
.delete__button{
    width: 20rem;
    height: 4rem;
    border-radius: 20px;
}

.delete__button-p{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: white;
}
.delete__button--delete{
    background: #EA5555;
    margin-right: 0.8rem;
    
}
.delete__button--delete:hover{
    background-color: #FF9898;
}
.delete__button--cancel>p{
    color: #635FC7
    
}
.delete__button--cancel{
    background: rgba(99, 95, 199, 0.1);
    margin-left: 0.8rem;
    
    
}
.delete__button--cancel:hover{
    background-color:rgba(99, 95, 199, 0.25);
}