.delete{
    width: 480px;
    min-height: 230px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete__text-wrapper {
    width: 85%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
}
.delete__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: normal;
    margin-bottom: 24px;
}
.delete__text{
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #828FA3;
}
.delete__buttons-wrapper{
width: 85%;
margin-bottom: 40px;
display: flex;
justify-content: space-between;
    
}
.delete__button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.delete__button-p{
    font-weight: 700;
    font-size: 13px;
    line-height: 23px;
    color: white;
}
.delete__button--delete{
    background: #EA5555;
    margin-right: 8px;
    
}
.delete__button--delete:hover{
    background-color: #FF9898;
}
.delete__button--cancel>p{
    color: #635FC7
    
}
.delete__button--cancel{
    background: rgba(99, 95, 199, 0.1);
    margin-left: 8px;
    
    
}
.delete__button--cancel:hover{
    background-color:rgba(99, 95, 199, 0.25);
}