.editBoard{
    width: 480px;
    min-height: 440px;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    z-index: 1;

}

.editBoard__close-wrapper{
        width: 100%;
        display: flex;
        justify-content:flex-end;
}
.editBoard__close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 30px 0 ;
    
}
.editBoard__close-button:hover>img{
 opacity: 0.7;

}
.editBoard__close-img{
    width: 15px; 
    filter: invert(44%) sepia(82%) saturate(455%) hue-rotate(203deg) brightness(79%) contrast(97%)
   
}

.editBoard__form{
    min-height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.editBoard__form-h2{
    align-self: flex-start;
    margin-left: 40px;
    margin-top: 32px;

    font-weight: 700;
font-size: 18px;
line-height: 23px;
}
.editBoard__form-wrapper{
   width: 400px;
   margin: 0;
   display: flex;
   flex-direction: column; 
}
.editBoard__form-span-wrapper{
    
    width: 400px;
    margin-top:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.editBoard__form-span{
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;  
    color: #828FA3;
}
.editBoard__form-span--margin{
    margin: 4px 0;
    font-size: 12px;
    align-self: flex-end;
    opacity: 0.8;
    font-size: 11px;
}
.editBoard__form-input-wrapper{
    display: flex;
}
.editBoard__form-select{
    margin: 12px 0;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}
.editBoard__form-input{
    width: 100%;
    height: 40px;
    margin: 12px 0;
    border: 1px solid rgba(130, 143, 163, 0.25);
border-radius: 4px;
text-align: left;
line-height: 40px;
padding-left: 10px;
font-size: 13px;
font-weight: 500;
}
.editBoard__form-column-delete{
    width: 5%;
    margin-left: 16px;
}

.editBoard__form-column-delete:hover>img{
    filter: invert(51%) sepia(64%) saturate(3911%) hue-rotate(330deg) brightness(97%) contrast(88%)
}
.editBoard__form-column-delete-img{
    width: 15px;
}
.editBoard__form-buttons-wrapper{
    width: 400px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.editBoard__form-button{
    width: 100%;
    height: 40px;
    margin: 12px 0;
    border-radius: 20px;
    color: white;
}
.editBoard__form-button--light-purple{
    color: #635FC7;
 background-color: rgba(99, 95, 199, 0.1);  
}
.editBoard__form-button--light-purple:hover{
    background-color:rgba(99, 95, 199, 0.25);
     
}
.editBoard__form-button--purple{
    background-color: #635FC7;
    margin-left: 8px;
}
.editBoard__form-button--purple:hover{
    background-color: #A8A4FF;
}


.editBoard__form-button--delete{
    background-color: #EA5555;
    margin-right: 8px;
   
}
.editBoard__form-button--delete:hover{
    background-color: #FF9898;
    
}
.editBoard__form-button-p{
    font-weight: 700;
font-size: 13px;
line-height: 23px;
}

.editBoard__form-alert{
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    color: red;
}