.editBoard{
    width: 48rem;
    min-height: 44rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    z-index: 1;

}

.editBoard__close-wrapper{
        width: 100%;
        display: flex;
        justify-content:flex-end;
}
.editBoard__close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem 3rem 0 ;
    
}
.editBoard__close-button:hover>img{
 opacity: 0.7;

}
.editBoard__close-img{
    width: 1.5rem; 
    filter: invert(44%) sepia(82%) saturate(455%) hue-rotate(203deg) brightness(79%) contrast(97%)
   
}

.editBoard__form{
    min-height: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.editBoard__form-h2{
    align-self: flex-start;
    margin-left: 4rem;
    margin-top: 3.2rem;

    font-weight: 700;
font-size: 1.8rem;
line-height: 2.3rem;
}
.editBoard__form-wrapper{
   width: 40rem;
   margin: 0;
   display: flex;
   flex-direction: column; 
}
.editBoard__form-span-wrapper{
    
    width: 40rem;
    margin-top:1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.editBoard__form-span{
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;  
    color: #828FA3;
}
.editBoard__form-span--margin{
    margin: 0.4rem 0;
    font-size: 1.2rem;
    align-self: flex-end;
    opacity: 0.8;
    font-size: 1.1rem;
}
.editBoard__form-input-wrapper{
    display: flex;
}
.editBoard__form-select{
    outline: none;
    margin: 1.2rem 0;
    width: 100%;
    height: 4rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}
.editBoard__form-select:hover{    
    border: 1px solid black;     
}
.editBoard__form-select:focus{
   
    border: 2px solid #635FC7;  
}
.editBoard__form-input{
    outline: none;
    width: 100%;
    height: 4rem;
    margin: 1.2rem 0;
    border: 1px solid rgba(130, 143, 163, 0.25);
border-radius: 4px;
text-align: left;
line-height: 4rem;
padding-left: 1rem;
font-size: 1.3rem;
font-weight: 500;
}

.editBoard__form-input--error{
    border: 2px solid red !important;
}
.editBoard__form-input:hover{
    
    border: 1px solid black;
      
}
.editBoard__form-input:focus{
   
    border: 2px solid #635FC7;  
}
.editBoard__form-column-delete{
    width: 5%;
    margin-left: 1.6rem;
}

.editBoard__form-column-delete:hover>img{
    filter: invert(51%) sepia(64%) saturate(3911%) hue-rotate(330deg) brightness(97%) contrast(88%)
}
.editBoard__form-column-delete-img{
    width: 1.5rem;
}
.editBoard__form-buttons-wrapper{
    width: 40rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}
.editBoard__form-button
{
    width: 100%;
    height: 4rem;
    margin: 1.2rem 0;
    border-radius: 20px;
    color: white;
}

.editBoard__form-button--light-purple{
    color: #635FC7;
    background-color: rgba(99, 95, 199, 0.1);  
}
.editBoard__form-button--light-purple:hover{
    background-color:rgba(99, 95, 199, 0.25);
     
}
.editBoard__form-button--light-purple-disabled{
    background-color:rgba(99, 95, 199, 0.25);
     
}
.editBoard__form-button--purple{
    background-color: #635FC7;
    margin-left: 0.8rem;
}
.editBoard__form-button--purple:hover{
    background-color: #A8A4FF;
}
.editBoard__form-button--disabled{
    background-color: #A8A4FF;
}

.editBoard__form-button--delete{
    background-color: #EA5555;
    margin-right: 0.8rem;
   
}
.editBoard__form-button--delete:hover{
    background-color: #FF9898;
    
}
.editBoard__form-button-p{
    font-weight: 700;
font-size: 1.3rem;
line-height: 2.3rem;
}

.editBoard__form-alert{
    height: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    color: red;
}