

.taskView{
    width: 48rem;
    min-height: 44rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 6px;
    z-index: 1;
}


.taskView__close-wrapper{
        width: 100%;
        display: flex;
        justify-content:flex-end;
}
.taskView__close-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem 3rem 0 ;
    

    
}
.taskView__close-button:hover>img{
 opacity: 0.7;
    

}
.taskView__close-img{
    width: 1.5rem; 
    filter: invert(44%) sepia(82%) saturate(455%) hue-rotate(203deg) brightness(79%) contrast(97%)
}

.taskView__form{
    min-height: 44rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.taskView__form-h2{
    max-width:40rem;
    align-self: flex-start;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
}
.taskView__form-wrapper{
   width: 40rem;
   margin-bottom: 1.2rem;
   display: flex;
   flex-direction: column; 
}
.taskView__form-wrapper--title{
    margin: 3.2rem 0 0;
    flex-direction: row;
}
.taskView__form-wrapper--subtasks{
margin-bottom: 2.4rem;
}


.taskView__form-description{
    margin: 1rem;
    width: 38rem;
   font-weight: 700;
   font-size: 1.3rem;
   line-height: 2.3rem;
   color: #828FA3;
}
.taskView__form-span-wrapper{
    
    width: 40rem;
    margin-top:1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.taskView__form-span{
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;  
    color: #828FA3;
}

.taskView__form-span--margin{
    margin: 0.4rem 0;
    font-size: 1.2rem;
    align-self: flex-end;
    opacity: 0.8;
    font-size: 1.1rem;
}
.taskView__form-span--checked{
    text-decoration-line: line-through;
}
.taskView__form-span--unchecked{
    font-weight: 700;
font-size: 1.2rem;
line-height: 1.5rem;
text-decoration-line: none;

color: #000112;
}
.taskView__form-input-wrapper{
    width: 100%;
    height: 4rem;
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F4F7FD;
    border-radius: 4px;
    
    
}

.taskView__form-subtask-wrapper{
    width: 100%;
    min-height: 4rem;
    margin-top: 1.6rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4F7FD;
    border-radius: 4px;
}

.taskView__form-checkbox-wrapper{
height: 100%;
display: flex;
align-items: center;

}

.taskView__form-input-checkbox{
    min-width: 1.6rem;
    width: 1.6rem;
    min-height: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
accent-color: #635FC7 ;
cursor: pointer;

}

.taskView__form-input-checkbox--subtask{
margin: 0 1rem;

}

.taskView__form-input-label{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    opacity: 0.5;
}
.taskView__form-select{
    margin: 1.2rem 0;
    width: 100%;
    height: 4rem;
    border: 1px solid rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}
.taskView__form-input{
    outline: none;
    width: 100%;
    height: 4rem;
    margin: 1.2rem 0;
    border: 1px solid rgba(130, 143, 163, 0.25);
border-radius: 4px;
text-align: left;
line-height: 4rem;
padding-left: 1rem;
font-size: 1.3rem;
font-weight: 500;
}
.taskView__form-input::-webkit-scrollbar{
    display: none;
    }
    .taskView__form-input--error{
        border: 2px solid red !important;
    }
    
    .taskView__form-input:hover{
        
        border: 1px solid black;
          
    }
    .taskView__form-input:focus{
       
        border: 2px solid #635FC7;  
    }


.taskView__form-input--title{
    resize:none;
    max-height: 11rem;
    padding: 1rem;
    margin: 0;
    font-weight: 700;
font-size: 1.8rem;
line-height: 22.3rem;
}
.taskView__form-input::-webkit-scrollbar{
    display: none;
}
.taskView__form-input--description{
    resize:none;
    max-height: 11rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #828FA3;
}



.taskView__form-column-delete{
    width: 5%;
}
.taskView__form-buttons-wrapper{
    width: 40rem;
   margin: 2.4rem 0 3.2rem;
    display: flex;
    justify-content: space-between;
}
.taskView__form-button{
    width: 100%;
    height: 4rem;
    margin: 1.2rem 0;
    border-radius: 20px;
    color: white;
    background-color: cadetblue;
}
.taskView__form-button--light-purple{
    color: #635FC7;
 background-color: rgba(99, 95, 199, 0.1);  
}
.taskView__form-button--light-purple:hover{
    background-color:rgba(99, 95, 199, 0.25);
     
}
.taskView__form-button--light-purple-disabled{
    background-color:rgba(99, 95, 199, 0.25);
     
}
.taskView__form-button--purple{
    background-color: #635FC7;
    margin-left: 0.8rem;
}
.taskView__form-button--purple-disabled{
    background-color: #A8A4FF;
   
}
.taskView__form-button--purple:hover{
    background-color: #A8A4FF;
}
.taskView__form-button--delete{
    background-color: #EA5555;
    margin-right: 0.8rem;
   
}
.taskView__form-button--delete:hover{
    background-color: #FF9898;
}

.taskView__form-button-p{
    font-weight: 700;
font-size: 1.3rem;
line-height: 2.3rem;
}

.taskView__form-alert{
    height: 2rem;
    width: 100%;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    color: red;
    text-align: center;
}
.taskView__label{
    min-height: 4rem;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.edit{
display: inline-block;
margin-left: 1.5rem;
}

.edit--description{
    position: absolute;
    right: 1rem
}

.edit__img{
    width: 1.5rem; 
    filter: invert(44%) sepia(82%) saturate(455%) hue-rotate(203deg) brightness(79%) contrast(97%);
    opacity: 0.5;
}
.edit__img:hover{
    opacity: 1;
}