
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  overflow-wrap: break-word;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem
}
a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  cursor: pointer;
}

img{
  display: block;

}
ul{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input:autofill{
  transition: background-color 5000s ease-in-out 0s;
  background-image: unset;
  
}

input:-webkit-autofill{
  transition: background-color 5000s ease-in-out 0s;
  background-image: unset;
}